---
layout: default-en
style: |
  div.flashcard {
    margin: 0 10px 10px 0;
  }
  div.flashcard div.question {
    background-color:#ddd;
    width: 400px;        
    padding: 5px;    
    cursor: hand;    
    cursor: pointer;
  }
  div.flashcard div.answer {
    background-color:#eee;
    width: 400px;
    padding: 5px;    
    display: none;        
  }               
script: |
  <script>    
    window.onload= function() {
      var divs= document.getElementsByTagName('div');
      for (var i= divs.length; i-->0;)
        if (divs[i].className==='question')
          Toggler(divs[i]);
    };
    function Toggler(div) {
      var state= false;
      var toggled= div.nextSibling;
      while (toggled.nodeType!==1)
        toggled= toggled.nextSibling;
      div.onclick= function() {
        state= !state;
        toggled.style.display= state? 'block' : 'none';
      };
    };
  </script>
---
<h1>{{ page.title }}</h1>
{% for item in page.flashcards %}
<div class="flashcard">
    <div class="question">{{ item.question }}</div>
    <div class="answer">{{ item.answer }}</div>
    </div>
{% endfor %}