---
layout: default-es
root: ../../../../
---
<h2>{{ page.title }}</h2>
{% if page.image %}
	<img class = "sm-img" src = "../../../../../images/{{ page.image }}" alt = "{{ page.image-alt }}" />
{% endif %}
{% if page.youtube %}
	{{ page.youtube }}
{% endif %}
{% if page.video %}
	<video width="560" height="315" controls>
		<source src="../../../../../videos/{{ page.video }}">
		Your browser does not support the video tag. Upgrade your browser and try again.
	</video>
{% endif %}
<p>{{ page.date | date_to_long_string }}</p>
<div>
{{ content }}
</div>